<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Button Grid</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
    /* Add any additional styling here */
    body {
      padding: 20px;
    }

    .btn-grid {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>

<div class="container">
    <div class="row">
        
    </div>
  <div class="row">
    <div class="col-md-2">
        </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Camera 1</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 2</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 3</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 2</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 3</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 2</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 3</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 2</button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-block btn-lg">Button 3</button>
    </div>
</div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
